:root{
    --primario:#071119;
    --secundario:#435B66;
    --terciario: #a76f6f;
    --cuaternario: #EAB2A0;
    --negro:#000000;
    --blanco:#ffffff;


}
/*Globales para CSS*/
.sombra{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*Globales para CSS*/
p{
    padding: 1.3rem;
}
html{
    /*background-color: var(--primario);*/
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 23%, rgba(23,23,51,1) 90%);
    scroll-behavior: smooth;
    color: aliceblue;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Quicksand', sans-serif;
    
}
h2{
    padding-top: 4rem;
    padding-left: 1.5rem ;
}

.título{
    margin: 0px;
    background-color: rgb(22, 22, 23/100%);
    backdrop-filter: blur(12px);
    
    /*background-color: black;*/
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    font-size: larger;
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
}
a{
    text-decoration: none;
    color: var(--blanco);
    align-content: center;
}
a:hover{
    color:var(--cuaternario);
}
/*presentación*/
.pres{
    text-align: justify;
    padding: 2rem;
    font-family: ;
}
/*Productos*/
.productos{
    color: var(--secundario);
    background-color:var(--blanco);
    padding-top: 1.5rem;
    
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    
    
    border-radius: 23px 23px 23px 23px;
    border-radius: 23px 23px 23px 23px;
    border-radius: 23px 23px 23px 23px;
    border: 0px solid #000000;
}

.catalogo{
    color: #071119;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
}
.margin{
    padding: 1.5rem;
}


/*Productos*/

.foo{
    width: 100%;
    background-color: var(--negro);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px,0px;
    text-align: center;
}

.abajo{
    display: inline-block;
    padding: 15px,10px;
    text-align:center
}
/*--------------Media Quieries--------------*/
/*Para teléfonos*/
@media (min-width: 480px) {
    /* … */
    .título
  }
/*Para tablet*/
@media (min-width: 480px) {
    /* … */
  }
